.btnPrimario {
    color: white;
    transition: all .5s ease-in-out;
    background-color: $corPrimaria;
    letter-spacing: .1em;
    font-family: $titulo;
 
    &:hover,
    &:active,
    &:focus {
        color: white;
        background-color: $corTerciaria;
        text-decoration: none;
    }
    a.nav-link{
        color: white!important;
    }
}
.cta{
    border-radius: 50px;
    font-size: 0.8em;
    padding: 10px 20px;
    transform: translate(0,-6px);
    margin-left: 7px;
}

.btn-lancamentoDiv{
    background-color: $corTerciaria;
    border-radius: 50px;
    font-size: 1.750em;
    color: white;
    padding: 10px 60px;
    margin-left: auto;
    margin-right: auto;
    text-transform: uppercase;
    &:hover{
        color: white;
        background-color: $corPrimaria;
    }
}

.btn-secundario {
    background-color: transparent;
    color: $corBranca;
    border-radius: 50px;
    border: 1px solid $corBranca;
    text-transform: uppercase;
    font-family: $texto;
    font-size: 1.250em;
    padding: 10px 25px;
    img, i, svg{
        margin-left: 20px;
    }
    &:hover,
    &:active,
    &:focus {
        color: $corSecundaria !important;
        background-color: $corPrimaria !important;
        border-color: $corSecundaria !important;
        box-shadow: none !important;
    }
}

.btn-form {
    background-color: $corPrimaria;
    color: $corBranca;
    border-radius: 0;
    border: 1px solid $corBranca;
    font-family: $titulo;
    font-size: 1.250em;
    padding: 10px 25px;
    margin-top: 50px;
    img{
        margin-left: 20px;
    }
    &:hover,
    &:active,
    &:focus {
        color: $corSecundaria !important;
        background-color: transparent !important;
        border-color: $corSecundaria !important;
        box-shadow: none !important;
    }
}

.btn-default {
    background-color: transparent;
    color: $corPrimaria;
    border-radius: 0;
    border: 1px solid $corPrimaria;
    text-transform: uppercase;
    font-family: $titulo;
    font-size: 1.250em;
    padding: 20px;
    &:hover,
    &:active,
    &:focus {
        color: $corPrimaria!important;
        background-color: $corTerciaria !important;
        box-shadow: none !important;
    }
    img{margin-left: 1em; margin-right: 30px;}
}