/**
 * A área de comentários do tema "TwentyFourteen"
 * com algumas edições necessárias.
 */
 .comments-area {
	margin: 100px auto 0 auto;
	max-width: 100%;
	font-size: 1em;
}

.comments-area textarea {
    width: 100%;
    background: transparent;
    border: 1px solid $corPrimaria;
    color: $corPrimaria;
    padding: 20px;
}

.comment-body  {
	border: 1px solid $corPrimaria;
	padding: 15px;
    margin: 15px 0;
    p{
        border-left: 1px solid $corPrimaria;
        padding-left: 10px;
    }
}

.comment-reply-title,
.comments-title {
	font:  16px/1.5 sans-serif;
	margin: 0;
	padding: 0;
	text-transform: uppercase;
}

.comment-list {
	list-style: none;
	margin: 0 0 30px 0;
}

.comment-author {
	font-size: 14px;
	line-height: 1.7142857142;
}
.comment-meta.commentmetadata{
    margin: 15px 0;
}
.comment-list .reply,
.comment-metadata {
	font-size: 10px;
	text-transform: uppercase;
}

.comment-reply-link {
	padding: 5px 0;
	color: #fff;
	display: inline-block;
    background: transparent;
    font-family: $texto;
    font-weight: 700;
    &:hover{
        background: transparent;
    }
}

.comment-author .fn {
    font-weight: 900;
}

.comment-list article,
.comment-list .pingback,
.comment-list .trackback {
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	margin-bottom: 24px;
	padding-top: 24px;
}

.comment-list > li:first-child > article,
.comment-list > .pingback:first-child,
.comment-list > .trackback:first-child {
	border-top: 0;
}

.comment-author {
	position: relative;
}

.comment-author.vcard{padding-left: 0;}

.comment-author .avatar {
	border: 1px solid $corPrimaria;
	width: 30px;
	height: 30px;
    padding: 3px;
    margin-left: 0;
	// position: absolute;
	// top: 0;
	// left: 0;
}

.says {
	display: none;
}

.comment-author,
.comment-awaiting-moderation,
.comment-content,
.comment-metadata {
	padding-left: 30px;
}

.comment-edit-link {
	margin-left: 10px;
}

.comment-content {
	-webkit-hyphens: auto;
	-moz-hyphens:    auto;
	-ms-hyphens:     auto;
	hyphens:         auto;
	word-wrap: break-word;
}

.comment-content ul,
.comment-content ol {
	margin: 0 0 24px 22px;
}

.comment-content li > ul,
.comment-content li > ol {
	margin-bottom: 0;
}

.comment-content > :last-child {
	margin-bottom: 0;
}

.comment-list .children {
	list-style: none;
	margin-left: 15px;
}

.comment-respond {
	margin-bottom: 24px;
	padding: 0;
}

.comment .comment-respond {
	margin-top: 24px;
}

.comment-respond h3 {
	margin-top: 0;
	margin-bottom: 24px;
}

.comment-notes,
.comment-awaiting-moderation,
.logged-in-as,
.no-comments,
.form-allowed-tags,
.form-allowed-tags code {
	color: #767676;
}

.comment-notes,
.comment-awaiting-moderation,
.logged-in-as {
	font-size: 14px;
	line-height: 1.7142857142;
}

.no-comments {
	font-size: 16px;
	font-weight: 900;
	line-height: 1.5;
	margin-top: 24px;
	text-transform: uppercase;
}

span.required{
    color: white;
}
.comment-form{
    .comment-notes{
        color: $corPrimaria;
        font-size: 1em;
    }
    .comment-form-cookies-consent label{
        display: inline;
        margin-left: 5px;
    }
}

.comment-form label {
	display: block;
}

.comment-form input[type="text"],
.comment-form input[type="email"],
.comment-form input[type="url"] {
    width: 100%;
    border: 1px solid $corPrimaria;
    padding: 8px 16px;
    background: transparent;
    color: $corPrimaria;
}

.comment-form input[type="submit"]{
    color: $corBranca;
    transition: all .5s ease-in-out;
    text-transform: uppercase;
    background: transparent;
    border: 0;
    padding-left: 0;
    padding-right: 0;
    &:hover {
        color: $corSecundaria;
        text-decoration: none;
    }
}

.form-allowed-tags,
.form-allowed-tags code {
	font-size: 12px;
	line-height: 1.5;
}

.required {
	color: #c0392b;
}

.comment-reply-title small a {
	color: #2b2b2b;
	float: none;
	overflow: hidden;
	font-size: 12px;
	display: block;
	clear: both;
}

.comment-navigation {
	font-size: 12px;
	line-height: 2;
	margin-bottom: 48px;
	text-transform: uppercase;
}

.comment-navigation .nav-next,
.comment-navigation .nav-previous {
	display: inline-block;
}

.comment-navigation .nav-previous a {
	margin-right: 10px;
}

#comment-nav-above {
	margin: 15px 0;
}