﻿/*
* Tema: Silveira Correa
* Author: Bruno Alves
* Empresa: CIAWebsites
* Versão: 1.0
*/

// ============================================================================
// Índice
// ============================================================================
/*
* 1 - Importações
* 2 - Estilos base 
* 3 - Menu
*   3.1 - Menu Mobile
*   3.2 - Menu Fixo
* 4 - Home
*   4.1 - Slides
*   4.2 - Lançamento - Idem Página Empreendimentos
*   4.3 - Empreendimentos - Idem Página Empreendimentos
*   4.4 - Call to action
*   4.5 - Quem somos
*   4.6 - Blog
*   4.7 - Contato
*   4.8 - Depoimentos
*   4.9 - Mapa
* 5 - Página Default
* 6 - Blog
* 7 - Página Contato
* 8 - Página 404
* 9 - Single empreendimento
* 10 - Mensagem enviada
* 11 - Rodapé
*/

// ============================================================================
// 1 - Importações - Início
// ============================================================================
@font-face {
    font-family: 'Raleway-Thin';
    src: url('../fonts/Raleway-Thin.ttf');
}

@font-face {
    font-family: 'Raleway-Light';
    src: url('../fonts/Raleway-Light.ttf');
}

@font-face {
    font-family: 'Raleway-Regular';
    src: url("../fonts/Raleway-Regular.ttf");
}

@font-face {
    font-family: 'Raleway-Black';
    src: url('../fonts/Raleway-Black.ttf');
}

@font-face {
    font-family: 'Raleway-Bold';
    src: url('../fonts/Raleway-Bold.ttf');
}

@font-face {
    font-family: 'FontAwesome';
    src: url('../libs/fontawesome-free/webfonts/fa-solid-900.ttf');
}


// PADRÕES
@import 'variaveis';
@import 'comments.scss';
@import 'botoes';
@import 'reset';
// Componentes do CORE
@import '../../core/components/setaParaTopo/seta.scss';
// ============================================================================
// 1 - Importações - Fim
// ============================================================================

html {
    // ============================================================================
    // 2 - Estilos base  - Início
    // ============================================================================
    overflow-x: hidden !important;

    body {
        overflow-x: hidden !important;
        font-size: 16px;
        color: $quartaCor;
        box-sizing: border-box;
        margin: 0;

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            font-family: $titulo;
            color: $corSecundaria;
            font-weight: 200;
            text-decoration: underline;
            text-decoration-thickness: 1px;
            text-underline-position: right under;
        }

        h1 {
            font-size: 3.563em;
            line-height: 50pt;
        }

        h2 {
            font-size: 3.125em;
        }

        h3 {
            font-size: 2.500em;
        }

        h4 {
            font-size: 1.563em;
        }

        h5 {
            font-size: 1.2em;
        }

        h6 {
            font-size: 1em;
        }

        blockquote {
            font-style: oblique;
        }

        p,
        span {
            font-family: $texto;
            font-size: 1em;
            line-height: 20pt;
            font-weight: 400;
            color: #000;
        }

        a {
            transition: all .5s ease-in-out;
            color: $corSecundaria;
            font-family: $texto;
            &:hover {
                color: $quartaCor;
                text-decoration: none;
            }
        }

        li {
            list-style: none;
            font-family: $texto;
            font-size: 1em;
            line-height: 20pt;
            font-weight: 400;
        }

        form {
            margin-block-end: 0;
            margin-bottom: 0;
            .form-group{
                select{
                    background: transparent;
                    color: white;
                }
            }

            &.wpcf7-form {
                width: 450px;
                input[type="text"],
                input[type="email"],
                input[type="date"],
                textarea.form-control, select.form-control {
                    border-radius: 20px;
                    border: 1px solid $corPrimaria;
                    background: transparent;
                    color: $corPrimaria;

                    &::-webkit-input-placeholder {
                        /* Chrome/Opera/Safari */
                        color: $corPrimaria;
                    }

                    &::-moz-placeholder {
                        /* Firefox 19+ */
                        color: $corPrimaria;
                    }

                    &:-ms-input-placeholder {
                        /* IE 10+ */
                        color: $corPrimaria;

                    }

                    &:-moz-placeholder {
                        /* Firefox 18- */
                        color: $corPrimaria;
                    }

                    &:focus {
                        outline: 1px groove $corSecundaria;
                        outline-color: $corSecundaria;
                    }
                }
                label{color: $corPrimaria;}
                .col-6.pl-1{display: flex; max-width: 23%;}
                .col-6.pr-2{min-width: 77%;}
                .code-wrapper{
                    img{
                        height: 38px!important;
                    }
                }
            }

        }

        figure {
            margin: 0;
            padding: 0;
        }

        img {
            max-width: 100%;
            object-fit: contain;
        }

        strong{
            font-family: $bold;
            font-size: 1em;
            color: $corPrimaria;
        }

        .acf-map {
            width: 100%;
            height: 400px;
            border: #ccc solid 1px;
            margin: 0;
        }

        // Fixes potential theme css conflict.
        .acf-map img {
            max-width: inherit !important;
        }

        .borda-titulo
        {
            max-width: 70px;
            width: 100%;
            height: 5px;
            background-color: $corSecundaria;
            margin-bottom: 25px;
        }

        .bold{ font-family: $bold!important; }

        .title-home{
            color: white;
            font-family: $titulo;
            text-transform: uppercase;
            font-size: 2.500em;
        }

        #accordion{
            background-color: $corPrimaria;
            background: $corPrimaria;
            border-bottom: 1px solid $corSecundaria;
            .card{
                border-radius: 0;
                .card-header{
                    border-top: 1px solid $corSecundaria;
                    border-radius: 0;
                    .btn-link{
                        text-decoration: none;
                        color: $corBranca;
                        i, svg{color: $corBranca;}
                        &:hover{
                            text-decoration: none;
                            color: $quartaCor;
                            i, svg{ color: $quartaCor; }
                        }
                    }
                }

                .card-body{
                    background-color: $corPrimaria;
                    background: $corPrimaria;
                    border: none;
                    color: $quartaCor;
                }
            }
        }

        .info-blog{
            display: flex;
            justify-content: space-between;
            margin-top: 25px;
            #breadcrumbs{margin-bottom: 0;}
        }

        .img-decorativa-single{
            position: absolute;
            z-index: 0;
        }

        .img-decorativa-single02{
            position: absolute;
            z-index: 0;
        }

        .img-decorativa,
        .img-bg-servico{
            position: absolute;
        }

        .wp-block-gallery {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;

            .blocks-gallery-item {
                max-width: 100%;
                padding: 8px;
                background-color: $corBranca;
                border: 1px solid #ccc;
                border-radius: 0;

                a {
                    img {
                        width: 100%; // Firefox
                        object-fit: contain; // Firefox
                    }

                    &:hover {
                        img {
                            filter: brightness(1.1)
                        }
                    }
                }
            }
        }

        .wp-block-gallery .blocks-gallery-item {
            flex-grow: 0 !important; // Firefox
        }

        .wp-block-gallery.columns-2 .blocks-gallery-item:nth-of-type(2n),
        .wp-block-gallery.columns-3 .blocks-gallery-item:nth-of-type(3n),
        .wp-block-gallery.columns-4 .blocks-gallery-item:nth-of-type(4n) {
            margin-right: 0;
        }

        div.gallery {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;

            .gallery-item {
                display: flex;
                align-items: center;
                padding: 8px;
                background-color: $corBranca;
                border: 1px solid #ccc;
                border-radius: 3px;

                a {
                    &:hover {
                        img {
                            filter: brightness(1.1)
                        }
                    }
                }
            }
        }


        .truncate1 {
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
        }

        .truncate2 {
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
        }

        .truncate3 {
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
        }

        .truncate4 {
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 4;
            -webkit-box-orient: vertical;
        }

        .truncate5 {
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 5;
            -webkit-box-orient: vertical;
        }

        .truncate6 {
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 6;
            -webkit-box-orient: vertical;
        }

        .shadow-menu{
            box-shadow: 0 2px 5px rgba(0,0,0,.5);
        }

        .mt-80{
            margin-top: 80px;
        }

        .mt-40{
            margin-top: 40px;
        }

        .mb-130{
            margin-bottom: 130px;
        }

        .p-90 {
            padding: 90px 0;
        }

        .py-40{
            padding-top: 40px;
            padding-bottom: 40px;
        }

        .py-190 {
            padding: 190px 0;
        }

        .pb-200{padding-bottom:200px;}

        .py-footer{
            padding-top: 70px;
        }

        .b-radius-0 {
            border-radius: 0;
        }

        .modal{
            .modal-content{
                border: 0;
                .modal-header{
                    background-color: $corPrimaria;
                    color: white;
                    button.close{
                        i, svg{
                            color: white;
                        }
                    }
                }
                .modal-body {
                    form{
                        h6{
                            display: none;
                        }
                        .btn-form{
                            margin-top: 0!important;
                            border-radius: 50px;
                            padding: 10px 40px;
                            color: $corPrimaria!important;
                            background-color: transparent!important;
                            border: 1px solid $corPrimaria;

                            &:hover{
                                background-color: $quartaCor!important;
                                color: white!important;
                                border: 1px solid $corPrimaria;
                            }
                        }
                    }
                }
            }
        }

        #breadcrumbs{
            span{
                color: white!important;
                font-family: $texto!important;
            }

            a{
                font-family: $bold;
                &:hover{
                    color: $quartaCor;
                }
            }
        }

        .icone-big {
            background: transparent;
            padding-left: 0;

            i,
            svg {
                font-size: 1em;
            }
        }

        .mt-65-menos{
            margin-top: -65px;
        }

        .owl-carousel.owl-theme {
            .owl-nav {
                margin-bottom: 10px;

                .owl-prev,
                .owl-next {
                    background-color: $quartaCor;
                    width: 30px;
                    height: 30px;
                    color: white;

                    svg {
                        margin-top: 0;
                    }
                }
            }
        }

        .title-single{
            color: $corPrimaria!important;
            font-family: $bold!important;
            padding: 0!important;
        }

        .banner-sidebar{
            img{transition: all .5s ease-in-out;}
            &:hover{
                img{filter:brightness(1.1);}
            }
        }

        ul {
            &.pagination {
                li {
                    border-radius: 0;
                    &.page-item{
                        border-radius: 0;
                        .page-link{
                            border-radius: 0;
                            color: $corPrimaria;
                            background-color: transparent;
                            border-color: transparent;
                            &:hover{
                                background-color: $quartaCor;
                                color: $corSecundaria;
                            }
                        }
                        &.active {
                            border-radius: 0;
                            .page-link{
                                background-color: $quartaCor;
                                border-color: transparent;
                                color:$corSecundaria;
                            }
                        }
                    }
                }
            }
        }

        .texto-info{
            height: 180px;
            padding: 3em 2em;

            h3{
                border-left: 1px solid white;
                padding: 10px .5em;
                margin-bottom: 0;
                text-decoration: none;
                text-transform: uppercase;
            }

            span{
                border-left: 1px solid white;
                padding: 10px .75em;
                margin-top: 0;
                color: white;
                text-decoration: none;
                font-size: 1.750em;
            }

            // Gradiente
            background: rgba(59,77,22,0);
            background: -moz-linear-gradient(top, rgba(59,77,22,0) 0%, rgba(59,77,22,0.8) 11%, rgba(59,77,22,0.8) 100%);
            background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(59,77,22,0)), color-stop(11%, rgba(59,77,22,0.8)), color-stop(100%, rgba(59,77,22,0.8)));
            background: -webkit-linear-gradient(top, rgba(59,77,22,0) 0%, rgba(59,77,22,0.8) 11%, rgba(59,77,22,0.8) 100%);
            background: -o-linear-gradient(top, rgba(59,77,22,0) 0%, rgba(59,77,22,0.8) 11%, rgba(59,77,22,0.8) 100%);
            background: -ms-linear-gradient(top, rgba(59,77,22,0) 0%, rgba(59,77,22,0.8) 11%, rgba(59,77,22,0.8) 100%);
            background: linear-gradient(to bottom, rgba(59,77,22,0) 0%, rgba(59,77,22,0.8) 11%, rgba(59,77,22,0.8) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3b4d16', endColorstr='#3b4d16', GradientType=0 );

        }

        // Personalização Header e slides
        .box-white{
            -webkit-clip-path: polygon(0 0, 100% 0%, 100% 40%, 0 20%);
            clip-path: polygon(0 0, 100% 0%, 100% 40%, 0 20%);
            background-color: rgba(255,255,255,.64);
            width: 100%;
            height: 100%;
            z-index: 2;
            position: absolute;

        }

        .box-dark{
            -webkit-clip-path: polygon(0 100%, 100% 100%, 100% 40%, 0 20%);
            clip-path: polygon(0 100%, 100% 100%, 100% 40%, 0 20% );
            background-color: rgba(0,0,0,.61);
            width: 100%;
            height: 100%;
            z-index: 4;
            position: absolute;
        }

        .background-wrap{
            filter: drop-shadow(-5px 10px 15px rgba(0, 0, 0, 0.6));
        }
        .background{
            background: $quartaCor;
            position: absolute;
            top: 0;
            left: 0;
            transform: translate(0,-60px);
            width: 100%;
            height: 560px;
            z-index: -1;
            -webkit-clip-path: polygon(0 0, 100% 15%, 100% 100%, 0 85%);
            clip-path: polygon(0 0, 100% 15%, 100% 100%, 0 85%);
        }
        .img-bg{
            position: absolute;
            right: 0;
            top: -30%;
            z-index: 2;
        }
        .content-info{
            background-color: #e6e6e6;
            padding: 80px 90px;
            margin-top: 85px;
        }
        // ============================================================================
        // 2 - Estilos base  - Fim
        // ============================================================================


        // ============================================================================
        // 3 - Menu  - Início
        // ============================================================================
        .bg-menu{
            background-color: $corSecundaria!important;
            ul{
                li{
                    transform: translate(0,6px);
                    height: 1em;
                    &.cta{
                        height: 3em;
                        transform: translate(0,0);
                    }
                }
            }
        }
        .logo-main{
            img{
                max-width: 160px;
                object-fit: contain;
            }
        }
        .navbar-toggler-icon{
            i, svg{
                color: $corBranca!important;

            }
        }
        #menuPrimario {
            background-color: $corPrimaria;
            border-bottom: 1px solid $corSecundaria;
        
            .row {
                height: 45px;
        
                a {
                    transition: all .5s ease-in-out;
                    color: $quartaCor;
                    text-decoration: none;
                    letter-spacing: .08em;
                    i,
                    svg {
                        color: $corSecundaria;
                    }
        
                    &:hover {
                        span {
                            
                            color: $corSecundaria;
                        }
        
                        i,
                        svg {
                            color: $quartaCor;
                        }
                    }
                }
        
                span {
                    color: $quartaCor;
                    display: inline-block;
                    margin-right: 50px !important;
                    letter-spacing: .08em;
                    font-size: .625em;
                    text-transform: uppercase;
                    font-family: $titulo;
        
                    i,
                    svg {
                        color: $corSecundaria;
                    }
                }
        
                .icon-social-topo {
                    a {
                        font-size: .750em;
                        margin: 0 10px;
        
                        &:last-child {
                            margin: 0 0 0 10px;
                        }
                    }
                }
            }
        }
        .menu-absolute{
            position: absolute;
            margin: 0 auto;
            width: 100%;
            z-index: 9999;
            display: block;
        }
        #menu-secundario {
            transition: all .5s ease-in-out;
            //background-color: $corPrimaria;

            .nav-header {
                img {
                    object-fit: contain;
                }
            }

            ul {
                margin-top: auto;
                li {
                    margin: 0px 7px;
                    a.nav-link {
                        font-family: $thin;
                        text-transform: uppercase;
                        font-weight: bold;
                        padding: 0;
                        color: $corTerciaria;
                        transition: all .6s ease-in-out;

                        &:hover {
                            color: $corPrimaria;
                        }
                    }
                    &:last-child{
                        margin: 0 0 0 7px;
                    }
                }

                li.active a,
                li.current-menu-item a {
                    color: $corPrimaria;
                }
            }

        }
        // 3.1 Menu mobile - Início
        .mobile-menu-wrapper {
            right: 0;
            position: fixed;
            top: 0;
            height: 100%;
            //overflow: scroll;
            min-height: 100%;
            z-index: 9999;
            padding: 30px 30px;
            box-sizing: border-box;
            width: 400px;
            background: $corPrimaria;
            overflow: hidden;
            transform: translate3d(100%, 0, 0);
            transition: right 0.5s ease;
            padding-top: 70px;
            display: flex;
            align-content: space-between;
            flex-wrap: wrap;

            &.open {
                right: 400px;
            }

            .contatos-mobile-wrapper {
                display: flex;
                flex-direction: column;

                .icon-wrapper {
                    background-color: $corSecundaria;
                    border-radius: 0;
                    height: 28px;
                    width: 28px;
                    display: inline-block;
                    position: relative;
                    top: 3px;

                    svg {
                        position: absolute;
                        top: 50%;
                        font-size: 17px;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        color: $corPrimaria;
                    }
                }

                a {
                    color: #fff;
                    top: -5px;
                    position: relative;
                    margin-left: 5px;
                    font-weight: 500;
                    &:hover{
                        color: $quartaCor;
                    }
                }
            }

            .social-mobile-wrapper {
                .redes-sociais {
                    a {
                        background-color: $corSecundaria;
                        width: 28px !important;
                        height: 28px;
                        border-radius: 0;
                        position: relative;
                        color: $corPrimaria;
                        display: inline-block;
                        text-align: center;
                        top: 3px;
                        border: 1px solid $corSecundaria;
                        transition: all 0.3s ease-in-out;
                        &:hover{
                            color: $quartaCor;
                        }
                    }
                }
            }

            .btn-primario {
                background: $corSecundaria;
            }

            .mobile-menu {
                li {
                    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
                    width: 100%;

                    a {
                        color: $corBranca;
                        &:hover{
                            color: $quartaCor;
                        }
                    }

                    &.dropdown {
                        &:hover {
                            .dropdown-menu {
                                display: block;
                                height: auto !important;
                                background: rgba(255, 255, 255, 0.1);
                                border-radius: 0;
                            }
                        }
                    }

                    &:last-child {
                        border: none;
                    }
                }
            }
        }

        #navbar {
            ul {
                li {
                    &:last-child {
                        .nav-link {
                            border-right: none;
                        }
                    }

                    a {
                        color: $corPrimaria !important;
                        border-right: 1px solid #fff;
                        padding: 0.2rem 0.75rem !important;
                        font-weight: bold;
                        margin: 0 5px;
                        transition: all .5s ease-in-out;

                        &:hover {
                            color: $corSecundaria !important;
                            background-color: transparent;
                        }

                    }

                    &.active > a {
                        color: $corSecundaria !important;
                    }

                    .dropdown-menu {
                        li {
                            padding: 4px 0;
                            border-bottom: 1px solid $corBranca;
                            margin: 0 10px;

                            a {
                                margin: 0;
                            }

                            &:last-child {
                                border-bottom: none;
                            }
                        }
                    }
                }

            }

            &.menu_sticky {
                background-color: $corBranca;
                box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.22);

                ul {
                    li {
                        a {
                            border-right: 1px solid rgba(17, 35, 61, 0.3);
                        }

                        &.dropdown{
                            .dropdown-menu {
                                background-color: rgba(255, 255 ,255, .8);
                            }
                        }
                    }
                }
            }

            .dropdown {
                .dropdown-menu {
                    display: block;
                    visibility: hidden;
                    opacity: 0;
                    transition: all .5s ease-in-out;
                    background-color: rgba(255, 255, 255, 0.72);
                    border: 0;
                    width: 250px;

                    li {
                        a {
                            border: none;
                        }
                    }
                }

                &:hover {
                    .dropdown-menu {
                        top: 125%;
                        visibility: visible;
                        opacity: 1;
                        filter: alpha(opacity=100);
                        overflow: hidden;
                    }
                }
            }

        }

        .nav-toggler {
            border: 0;
            padding: 10px;
            background-color: $corPrimaria;
            cursor: pointer;
            height: 65px;
            width: 80px;
            position: absolute;
            right: 90px;
            top: 40px;
            z-index: 9999;
            display: flex;
            align-items: center;
            flex-direction: column;
            p{
                font-size: .75em;
                color: white;
                margin: 0;
                padding: 0;
                line-height: 15px;
                font-family: $bold;
            }
            svg, i{
                margin-bottom: 0;
                color: $quartaCor;
                font-size: 2.2em;
                margin-left: auto;
                margin-right: auto;
            }
            &.top-mobile{
                top: 10px!important;
            }

            span {
                width: 28px;
                height: 3px;
                background-color: $corSecundaria;
                display: block;
                transition: .3s;

                &:before {
                    width: 28px;
                    height: 3px;
                    background-color: $corSecundaria;
                    display: block;
                    transition: .3s;
                    content: '';
                    transform: translateY(-9px);
                }

                &:after {
                    width: 28px;
                    height: 3px;
                    background-color: $corSecundaria;
                    display: block;
                    transition: .3s;
                    content: '';
                    transform: translateY(6px);
                }
            }

            &.toggler-open {
                position: fixed;
                z-index: 20!important;

                span {
                    &:before {
                        background: $corBranca;
                    }
                }

                span {
                    &:after {
                        background: $corBranca;
                    }
                }
            }

            &#navTogglerFixed {
                position: fixed;
                opacity: 0;
                transition: all .2s ease-in;
                z-index: 9999!important;

                &.toggler-open {
                    opacity: 1 !important;
                    transition: all .2s ease-in !important;
                }
            }
        }

        .nav-toggler.toggler-open {
            span {
                background-color: transparent;

                &:before {
                    transform: translateY(0px) rotate(45deg);
                }

                &:after {
                    transform: translateY(-3px) rotate(-45deg);
                }
            }
        }

        .mobile-menu-overlay {
            position: fixed;
            top: 0;
            background-color: rgba(17, 17, 17, 0.5);
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
            visibility: hidden;
            transition: all 0.4s;

            &.open {
                opacity: 1;
                visibility: visible;
                z-index: 9601;
            }
        }

        // 3.1 Menu Mobile - Fim

        // 3.2 Menu Fixo - Início
        .menu-fixo{
            position: fixed;
            z-index: 6000;
            top: 18%;
            right: 105px;
            width: 80px;
            padding: 0;
            h6.title{
                font-size: 1em;
                margin: 0;
                background-color: $corPrimaria;
                font-size: 1em;
                line-height: 15pt;
                text-transform: none;
                text-align: center;
                padding-top: 10px;
            }
            .col{

                padding: 0;
                a{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    padding-top: 15px;
                    padding-bottom: 20px;
                    background-color: $corPrimaria;
                    color: white;
                    font-size: .75em;
                    box-shadow: 1px 1px 10px rgba(0,0,0,.2);
                    span{
                        color: white;
                    }
                    i, svg{
                        font-size: 3em!important;
                        margin-bottom: 10px;
                    }
                }
                .search-icon{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    background-color: $corPrimaria;
                    color: white;
                    padding-top: 15px;
                    padding-bottom: 20px;
                    border-radius: 0;
                    border: 0;
                    box-shadow: 1px 1px 10px rgba(0,0,0,.2);
                    margin-bottom: 50px;
                    i, svg{
                        color: $quartaCor;
                        font-size: 2em;
                    }
                    span{
                        color:white;
                        font-family: $bold;
                        font-size: .813em;
                    }
                    padding-top: 10px;
                    padding-bottom: 5px;
                }
                .divisoria{
                    width: 100%;
                    height: 1px;
                    background-color: $corPrimaria;
                    padding-left: 10%;
                    padding-right: 10%;
                    .faixa{
                        width:100%;
                        background-color: #0a85bd;
                        height: 1px;
                        margin-left: auto;
                        margin-right: auto;
                    }
                }
                a.bold{
                    i, svg{
                        margin-bottom: 0;
                        color: $quartaCor;
                    }
                }
            }
        }
        // 3.2 Menu Fixo - Fim
        // ============================================================================
        // 3 - Menu  - Fim
        // ============================================================================

        section {
            // Títulos
            &.header-padrao {
                position: relative;
                height: 620px;
                overflow: hidden;
                z-index: 1;
                img{
                    position: absolute;
                    z-index: 1;
                    max-width: 100%;

                }
                .container{
                    z-index: 4;
                    position: relative;
                    margin-top: 250px;

                    h1 {
                        text-transform: uppercase;
                        margin-bottom: 25px;
                    }

                    p {
                        color: $corBranca;
                    }
                }
            }

            // ============================================================================
            // 4 - Home - Inicio
            // ============================================================================

            // 4.1 - Slides - Início
            &.slides {
                position: relative;
                padding: 0;
                height: 860px;
                //-webkit-clip-path: polygon(0 85%, 100% 100%, 100% 0, 0 0);
                //clip-path: polygon(0 85%, 100% 100%, 100% 0, 0 0);
                overflow: hidden;

                #slide-bootstrap {
                    max-height: 860px;
                    overflow: hidden;

                    .carousel-indicators {
                        li {
                            border: none;
                            height: 12px;
                            width: 12px;
                            border-radius: 100px;
                            background: white;

                            &.active {
                                background: $corPrimaria;
                            }
                        }

                        bottom: 15%;
                    }

                    .carousel-item {
                        img {
                            object-fit: contain;
                            max-width: 100%;
                            position: relative;
                            z-index: 1;
                        }

                        .carousel-caption {
                            text-align: left;
                            right: auto;
                            left: 20%;
                            top: 30%;
                            color: $corPrimaria;
                            min-width: 970px;
                            z-index: 4;
                            box-sizing: border-box;
                            .bg-slide{
                                h2 {
                                    font-size: 3.56em;
                                    margin-bottom: 10px;
                                    line-height: 50pt;
                                    color: $corBranca;
                                    text-align: left;
                                }

                                p {
                                    width: 100%;
                                    display: block;
                                    font-size: 1.875em;
                                    text-align: left;
                                    color: $corBranca;
                                    margin: 20px 0 80px;
                                }
                            }
                        }
                    }
                }
            }

            #slide-home{
                position: relative;
                max-height: 740px;
            }
            // 4.1 - Slides - Fim


            // 4.2 Lançamento - Início
            &.lancamento-home{
                padding-top: 35px;
                padding-bottom: 0;
                transform: translate(0, -15%);
                position: relative;
                z-index: 4;

                .container{
                    z-index: 4;
                    position: relative;
                    top: 20px;
                    .lancamento-container{
                        height: 750px;
                    }
                    // Box grandes - Destaques Empreendimentos
                    .box-lancamento{
                        margin-top: 90px;
                        position: relative;
                        height: 620px;
                        overflow: hidden;
                        border-radius: 5px;
                        z-index: 2;
                        width: 100%;
                        h3, span, img, .info-hover, &.box-lancamento{transition: all .5s ease-in-out;}
                        img{
                            position: absolute;
                            z-index: 1;
                            overflow: hidden;
                            top:0;
                            left: 0;
                        }
                        h3{
                            color: $corBranca;
                            line-height: 1.15em;
                            text-shadow: 1px 1px 3px rgba(0,0,0,.3);
                        }
                        span{
                            color: $corBranca;
                        }
                        &:hover{
                            &.box-lancamento{height: 660px; border-radius: 5px;}
                            h3, span{
                                color: $corSecundaria;
                            }

                            img{
                                transform: scale(1.25,1.4);
                                padding-left: 40px;
                                padding-right: 40px;
                            }

                            .texto-info{
                                opacity: 0;
                                visibility: hidden;
                            }
                            .info-hover{
                                opacity: 1;
                                visibility: visible;
                            }
                        }
                        .texto-info{
                            transition: all .5s ease-in-out;
                            position: relative;
                            opacity: 1;
                            visibility: visible;
                            width: 100%;
                            top: 100%;
                            transform: translate(0,-100%);
                            left: 0;
                            bottom: 0;
                            z-index: 2;
                            height: 180px;
                        }

                        .info-hover{
                            opacity: 0;
                            visibility: hidden;
                            z-index: 3;
                            position: relative;
                            top: 0;
                            left: 0;
                            transform: translate(0,-27.5%);
                            background: rgba(59,77,22,.8);
                            width: 100%;
                            height: 100%;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;

                            .pl-29{
                                padding-left: 29%;
                                margin-top: 50px;
                            }

                            h3{
                                margin-bottom: 50px;
                                text-decoration: none;
                                text-transform: uppercase;
                            }

                            span{
                                border-left: 1px solid white;
                                padding: 50px .75em;
                                display: block;
                                margin-top: 0;
                                color: white;
                                text-decoration: none;
                                font-size: 1.750em;
                            }

                            ul {
                                padding: 0;
                                margin-bottom: 50px;
                                min-height: 195px;
                                li {
                                    border-left: 1px solid white;
                                    padding: 5px .75em;
                                    margin-top: 0;
                                    color: white;
                                    text-decoration: none;
                                    font-size: 1.750em;
                                    &:last-of-type {
                                        padding-bottom: 50px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            // 4.2 - Lançamento - Fim

            // 4.3 - Empreendimentos - Início
            &.empreendimentos-home{

                #empreendimentos, #empreendimentos-page{
                    margin-bottom: 2.5em;
                    .box{
                        position: relative;
                        border-radius: 15px;

                        a{
                            display: block;
                            height: 390px;
                            background-color: $corTerciaria;
                            img{
                                position: absolute;
                                top: 0;
                                left: 0;
                                width: fit-content;
                                height: 100%;
                                z-index: 0;
                                transition: all .5s ease-in-out;
                            }
                            .texto-info{
                                height: 135px;
                                transition: all .5s ease-in-out;
                                position: relative;
                                opacity: 1;
                                visibility: visible;
                                width: 100%;
                                top: 100%;
                                transform: translate(0,-100%);
                                z-index: 2;
                                padding: 2em 1em;

                                h2{
                                    border-left: 1px solid white;
                                    font-size: 1.563em;
                                    padding: 10px .5em;
                                    margin-bottom: 0;
                                    text-decoration: none;
                                    text-transform: uppercase;
                                }

                                span{
                                    border-left: 1px solid white;
                                    padding: 10px .55em;
                                    margin-top: 0;
                                    color: white;
                                    text-decoration: none;
                                    font-size: 1.375em;
                                }
                            }

                            .info-hover{
                                opacity: 0;
                                visibility: hidden;
                                z-index: 3;
                                position: relative;
                                top: 0;
                                left: 0;
                                transform: translate(0,-34.5%);
                                background: rgba(59,77,22,.8);
                                width: 100%;
                                height: 100%;
                                display: flex;
                                flex-direction: column;
                                justify-content: center;

                                .pl-29{
                                    padding-left: 10%;
                                    margin-top: 0;
                                }

                                h2{
                                    margin-bottom: 20px;
                                    text-decoration: none;
                                    text-transform: uppercase;
                                    font-size: 1.563em;
                                }

                                span{
                                    border-left: 1px solid white;
                                    padding: 25px .75em;
                                    display: block;
                                    margin-top: 0;
                                    color: white;
                                    text-decoration: none;
                                    font-size: 1.375em;
                                }

                                ul{
                                    padding: 0;
                                    margin-bottom: 40px;
                                    max-height: 105px;
                                    li{
                                        border-left: 1px solid white;
                                        padding: 5px .75em;
                                        margin-top: 0;
                                        color: white;
                                        text-decoration: none;
                                        font-size: 1.375em;
                                        &:last-of-type{
                                            padding-bottom: 40px;
                                        }
                                    }
                                }
                                .btn-lancamentoDiv{
                                    font-size: 1em;
                                    margin-top: 20px;
                                }
                            }

                            img, .texto-info, .info-hover{ transition: all .5s ease-in-out; }
                            &:hover{
                                .texto-info{
                                    opacity: 0;
                                    visibility: hidden;
                                }
                                .info-hover{
                                    opacity: 1;
                                    visibility: visible;
                                }
                            }
                        }
                    }

                }
            }
            // 4.3 - Empreendimentos - Fim

            // 4.4 - Call to action - Início
            &.cta-home{
                padding-top: 30px;
            }
            // 4.4 - Call to action - Fim


            // 4.5 - Quem somos - Início
            &.quemsomos-section{
                position: relative;
                overflow: hidden;
                .img-bg{
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: 1;
                }
                .container{
                    position: relative;
                    z-index: 2;
                    h2{
                        color: $corPreta;
                        text-align: center;
                        text-transform: uppercase;
                        margin: 100px 0;
                    }
                    .row{margin-top: 50px;}

                    .quemsomos-box{
                        position: relative;
                        padding: 50px 80px;
                        background-color: $corPrimaria;
                        overflow: hidden;
                        min-height: 350px;
                        margin-left: -30px;
                        margin-bottom: 110px;
                        z-index: 1;
                        h3{
                            color: white;
                            font-size: 1.750em;
                            text-align: center;
                            text-transform: uppercase;
                            font-family: $texto;
                            margin-bottom: 50px;
                            text-decoration: none;
                        }
                        img{
                            position: absolute;
                            z-index: 1;
                            bottom: -30px;
                            left: -50px;
                        }
                        p{
                            color: $corBranca;
                            margin: 0;
                            padding: 0;
                            font-size: 1.125em;
                        }
                    }
                    .box-mobile:nth-child(2n){
                        .quemsomos-box{
                            background-color: #415e04;
                            margin-top: 160px;
                            z-index: 2;
                            margin-left: -40px;
                        }
                    }
                    .box-mobile:nth-child(3n){
                        .quemsomos-box{
                            background-color: #3b4d16;
                            margin-top: 80px;
                            z-index: 3;
                            margin-left: -40px;
                        }
                    }
                }

            }
            // 4.5 - Quem somos - Fim


            // 4.6 - Blog - Início
            &.blog-home {
                padding-top: 120px;
                padding-bottom: 110px;
                position: relative;

                h2{
                    font-size: 11.250em;
                    white-space: nowrap;
                    letter-spacing: 18pt;
                    left: -137px;
                    z-index: 1;
                }

                .post-blog{
                    position: relative;
                    height: 440px;
                    overflow: hidden;
                    z-index: 2;
                    width: 100%;
                    .category-blog, .category-blog::before, h3, span, img{transition: all .5s ease-in-out;}
                    img{
                        position: absolute;
                        z-index: 1;
                        overflow: hidden;
                    }
                    h3{
                        color: $corBranca;
                        line-height: 1.15em;
                        text-shadow: 1px 1px 3px rgba(0,0,0,.3);
                    }
                    span{
                        color: $corBranca;
                    }
                    &:hover{
                        h3, span{
                            color: $corSecundaria;
                        }

                        img{
                            filter: brightness(1.1);
                        }
                        .category-blog::before{ border-color: $corBranca; }
                        .category-blog{color: $corBranca;}

                        .texto-info{
                            background: rgba(0,101,148,0);
                            background: -moz-linear-gradient(top, rgba(0,101,148,0) 0%, rgba(0,101,148,0.8) 11%, rgba(0,102,148,0.8) 100%);
                            background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,101,148,0)), color-stop(11%, rgba(0,101,148,0.8)), color-stop(100%, rgba(0,102,148,0.8)));
                            background: -webkit-linear-gradient(top, rgba(0,101,148,0) 0%, rgba(0,101,148,0.8) 11%, rgba(0,102,148,0.8) 100%);
                            background: -o-linear-gradient(top, rgba(0,101,148,0) 0%, rgba(0,101,148,0.8) 11%, rgba(0,102,148,0.8) 100%);
                            background: -ms-linear-gradient(top, rgba(0,101,148,0) 0%, rgba(0,101,148,0.8) 11%, rgba(0,102,148,0.8) 100%);
                            background: linear-gradient(to bottom, rgba(0,101,148,0) 0%, rgba(0,101,148,0.8) 11%, rgba(0,102,148,0.8) 100%);
                            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#006594', endColorstr='#006694', GradientType=0 );
                        }
                    }
                    .texto-info{
                        transition: all .5s ease-in-out;
                        position: relative;
                        width: 100%;
                        top: 100%;
                        transform: translate(0,-100%);
                        z-index: 2;
                        height: 180px;
                        padding: 2em 1em;
                        background: rgba(0,101,148,0);
                        background: -moz-linear-gradient(top, rgba(0,101,148,0) 0%, rgba(0,101,148,0.5) 11%, rgba(0,102,148,0.5) 100%);
                        background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,101,148,0)), color-stop(11%, rgba(0,101,148,0.5)), color-stop(100%, rgba(0,102,148,0.5)));
                        background: -webkit-linear-gradient(top, rgba(0,101,148,0) 0%, rgba(0,101,148,0.5) 11%, rgba(0,102,148,0.5) 100%);
                        background: -o-linear-gradient(top, rgba(0,101,148,0) 0%, rgba(0,101,148,0.5) 11%, rgba(0,102,148,0.5) 100%);
                        background: -ms-linear-gradient(top, rgba(0,101,148,0) 0%, rgba(0,101,148,0.5) 11%, rgba(0,102,148,0.5) 100%);
                        background: linear-gradient(to bottom, rgba(0,101,148,0) 0%, rgba(0,101,148,0.5) 11%, rgba(0,102,148,0.5) 100%);
                        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#006594', endColorstr='#006694', GradientType=0 );

                        h4:before{
                            content: '------';
                            color: transparent;
                            border-bottom: 1px solid $corBranca;
                            margin-right: 10px;
                            position: relative;
                            top: -12px;
                        }
                    }
                }

                .category-blog::before{
                    content: '-----';
                    position: relative;
                    top: -8px;
                    color: transparent;
                    height: 1px;
                    border-bottom: 2px solid $corSecundaria;
                    margin-right: 10px;
                }
                .category-blog{
                    color: $corSecundaria;
                    font-size: .750em;
                    font-family: $titulo;
                    text-transform: uppercase;
                }
                h3{
                    color: $corBranca;
                    font-size: 1.500em;
                    line-height: 1em;
                }
            }
            // 4.6 - Blog - Fim

            // 4.7 - Contato - Início
            &.contato-home{
                position: relative;
                padding: 0;
                margin: 0;
                overflow: hidden;
                img{
                    position: absolute;
                    top:0;
                    left:0;
                    z-index: 1;
                }

                h2{
                    color: $corBranca;
                }
                .form-box{
                    height: 777px;
                    z-index: 2;
                    position: relative;
                    .btn-form{
                        border: 0;
                        &:hover{
                            background: $corTerciaria!important;
                            color: $corPrimaria!important;
                        }
                    }
                }
            }
            // 4.7 - Contato - Fim

            // 4.8 - Depoimentos - Início
            &.depoimentos-home{
                position: relative;
                overflow: hidden;
                min-height: 600px;
                .bg-section{
                    z-index: 1;
                    position: absolute;
                }
                .topo{
                    top: -30%;
                    left: 2%;
                    animation-name: bg-animate-top;
                    animation-duration: 10s;
                    animation-iteration-count:infinite;
                }
                .bottom{
                    bottom: -30%;
                    right: 2%;
                    animation-name: bg-animate-bottom;
                    animation-duration: 10s;
                    animation-iteration-count:infinite;
                }
                /* The animation code */
                @keyframes bg-animate-top {
                     0%   {top: -30%; left: 2%;}
                     50%  {top: -26%; left: 4%;}
                     100% {top: -30%; left: 2%;}
                }
                @keyframes bg-animate-bottom {
                    0%   {bottom: -30%; right: 2%;}
                    50%  {bottom: -26%; right: 4%;}
                    100% {bottom: -30%; right: 2%;}
                }
                .container{
                    position: relative;
                    z-index: 2;
                    h2{
                        margin-top: 100px;
                        margin-bottom: 80px;
                        color: $corPreta;
                    }
                    #depoimentos-box{
                        margin-bottom: 150px;

                        .depoimentos{
                            position: relative;
                            min-height: 550px;
                            padding-bottom: 20px;
                            .box-texto{
                                position: relative;
                                z-index: 2;
                                h3{
                                    color: $corPreta;
                                    font-size: 1.4em;
                                    text-decoration: none;
                                    font-family: $texto;
                                }
                                p{min-height: 270px;}
                                span{font-size: 1.2em;}
                            }

                            .img-bottom{
                                position: absolute;
                                z-index: 1;
                                bottom: 0;
                            }
                        }
                    }
                }
            }
            // 4.8 - Depoimentos - Fim

            // 4.9 - Mapa - Início
            &.mapa{
                position: relative;
                margin-top: -5%;
                z-index: 3;
                -webkit-clip-path: polygon(0 0, 100% 15%, 100% 100%, 0% 100%);
                clip-path: polygon(0 0, 100% 15%, 100% 100%, 0% 100%);
                transition: visibility .7s ease-in-out;
                &:hover{
                    .box-mapa{
                        transition: opacity .7s ease-in-out;
                        opacity: 0;
                        visibility: hidden;
                    }
                }
                .box-mapa{
                    transition: opacity .7s linear;
                    position: absolute;
                    opacity: 1;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    z-index: 9999;
                    background: rgba(85,110,34,.9);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    h2{ margin-left: 20px; }
                }
                .acf-map{
                    height: 600px;
                }
            }
            // 4.9 - Mapa - Fim
            // ============================================================================
            // 4 - Home  - Fim
            // ============================================================================

            // ============================================================================
            // 5 - Página Default - Início
            // ============================================================================
            &.page-default{
                position: relative;
                padding-top: 30px;
                padding-bottom: 70px;
                margin-top: -3%;
                overflow-x: visible;
                z-index: 2;
                .img-bg{
                    top: -10%;
                }

                .container{
                    z-index: 4;
                    h1, h2, h3, h4, h5, h6{
                        color: $corPrimaria;
                    }
                    h1, h2{
                        font-size: 2.188em;
                        font-family: $bold;
                        margin-top: 60px;
                        margin-bottom: 50px;
                    }
                    h3{
                        font-size: 1.875em;
                        font-family: $bold;
                        margin-top: 50px;
                        margin-bottom: 40px;
                    }
                    h4{
                        font-size: 1.563em;
                        margin-top: 40px;
                        margin-bottom: 30px;
                    }
                    h5{
                        font-size: 1.250em;
                        margin-top: 30px;
                        margin-bottom: 20px;
                    }
                    h6{
                        margin-top: 30px;
                        margin-bottom: 20px;
                    }
                    ul{
                        padding: 0;
                        margin-bottom: 2em;
                        li{
                            margin-bottom: 1em;
                            color: $corPreta;
                            &:before{
                                content: '-';
                                margin-right: 5px;
                            }
                        }
                    }
                    iframe{
                        position: relative;
                        left: 50%;
                        transform: translate(-50%, 0);
                        margin: 50px 0;
                    }
                }
            }
            // ============================================================================
            // 5 - Página Default - Fim
            // ============================================================================

            // ============================================================================
            // 6 - Blog - Início
            // ============================================================================
            &.main-blog{
                position: relative;
                padding: 60px 0;
                .post-blog{
                    position: relative;
                    height: 440px;
                    overflow: hidden;
                    z-index: 2;
                    width: 100%;
                    .category-blog, .category-blog::before, h3, span, img{transition: all .5s ease-in-out;}
                    img{
                        position: absolute;
                        z-index: 1;
                        overflow: hidden;
                    }
                    h2{
                        color: $corBranca;
                        line-height: 1.15em;
                        text-shadow: 1px 1px 3px rgba(0,0,0,.3);
                    }
                    span{
                        color: $corBranca;
                    }
                    &:hover{
                        h2, span{
                            color: $corSecundaria;
                        }

                        img{
                            filter: brightness(1.1);
                        }
                        .category-blog::before{ border-color: $corBranca; }
                        .category-blog{color: $corBranca;}

                        .texto-info{
                            background: rgba(0,101,148,0);
                            background: -moz-linear-gradient(top, rgba(0,101,148,0) 0%, rgba(0,101,148,0.8) 11%, rgba(0,102,148,0.8) 100%);
                            background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,101,148,0)), color-stop(11%, rgba(0,101,148,0.8)), color-stop(100%, rgba(0,102,148,0.8)));
                            background: -webkit-linear-gradient(top, rgba(0,101,148,0) 0%, rgba(0,101,148,0.8) 11%, rgba(0,102,148,0.8) 100%);
                            background: -o-linear-gradient(top, rgba(0,101,148,0) 0%, rgba(0,101,148,0.8) 11%, rgba(0,102,148,0.8) 100%);
                            background: -ms-linear-gradient(top, rgba(0,101,148,0) 0%, rgba(0,101,148,0.8) 11%, rgba(0,102,148,0.8) 100%);
                            background: linear-gradient(to bottom, rgba(0,101,148,0) 0%, rgba(0,101,148,0.8) 11%, rgba(0,102,148,0.8) 100%);
                            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#006594', endColorstr='#006694', GradientType=0 );
                        }
                    }
                    .texto-info{
                        transition: all .5s ease-in-out;
                        position: relative;
                        width: 100%;
                        top: 100%;
                        transform: translate(0,-100%);
                        z-index: 2;
                        height: 180px;
                        padding: 0;
                        background: rgba(0,101,148,0);
                        background: -moz-linear-gradient(top, rgba(0,101,148,0) 0%, rgba(0,101,148,0.5) 11%, rgba(0,102,148,0.5) 100%);
                        background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,101,148,0)), color-stop(11%, rgba(0,101,148,0.5)), color-stop(100%, rgba(0,102,148,0.5)));
                        background: -webkit-linear-gradient(top, rgba(0,101,148,0) 0%, rgba(0,101,148,0.5) 11%, rgba(0,102,148,0.5) 100%);
                        background: -o-linear-gradient(top, rgba(0,101,148,0) 0%, rgba(0,101,148,0.5) 11%, rgba(0,102,148,0.5) 100%);
                        background: -ms-linear-gradient(top, rgba(0,101,148,0) 0%, rgba(0,101,148,0.5) 11%, rgba(0,102,148,0.5) 100%);
                        background: linear-gradient(to bottom, rgba(0,101,148,0) 0%, rgba(0,101,148,0.5) 11%, rgba(0,102,148,0.5) 100%);
                        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#006594', endColorstr='#006694', GradientType=0 );

                    }
                }

                .category-blog::before{
                    content: '------------';
                    position: relative;
                    top: -8px;
                    color: transparent;
                    height: 1px;
                    border-bottom: 2px solid $corSecundaria;
                    margin-right: 10px;
                }
                .category-blog{
                    color: $corSecundaria;
                    font-size: 1em;
                    font-family: $titulo;
                    text-transform: uppercase;
                    padding-top: 2em;
                    margin-bottom: 0;
                    &p{margin-bottom: 0;}
                }
                h2{
                    color: $corBranca;
                    font-size: 1.500em;
                    line-height: 1em;
                    padding: .8em 1em;
                    margin-bottom: 0;
                }
                .sidebar.mt-4:nth-child(1){

                }
                .sidebar.mt-4:nth-child(2){
                    //margin-top: 20px!important;
                    ul{
                        li{
                            border-bottom: 1px solid $corPreta;
                            transition: border .5s ease-in-out;
                            a{
                                display: block;
                                padding: 20px 0;
                                color: $corPreta;
                                &:hover{
                                    margin-left: 20px;
                                }
                            }
                            &:hover{
                                border-bottom-color: $quartaCor;
                            }
                        }
                    }

                }
                .sidebar {
                    border-radius: 5px;
                    background-color: $corTerciaria;
                    h3 {
                        text-align: center;
                        font-size: 1.563em;
                        color: $corPrimaria;
                    }

                    h4 {
                        font-size: 1em;
                        line-height: 18px;
                    }

                    .form-blog{
                        input[type="text"]{
                            border: 0;
                        }
                        .btn{
                            background-color: white;
                            border-top-left-radius: 0;
                            border-bottom-left-radius: 0;
                        }
                    }

                    @-moz-document url-prefix() {
                        .form-inline .input-group {
                            width: 90%;
                        }
                    }

                    ul {
                        margin-bottom: 0;
                        padding-left: 0;

                        li {

                            a {
                                color: $corPreta;
                                &:hover {
                                    color: $quartaCor!important;
                                }
                            }
                        }
                    }

                    a {
                        h4, img{transition: all .5s ease-in-out;}
                        h4 {
                            color: $corPrimaria;
                        }

                        &:hover {
                            h4 {
                                color: $quartaCor;
                            }

                            img {
                                filter: brightness(1.1);
                            }
                        }
                    }
                }

                .sidebar.mt-4:first-child {
                    margin-top: 0 !important;
                }

                .banners-sidebar{
                    img{
                        margin-bottom: 50px;
                    }
                }
            }

            // 6.1 - Single Blog - Início
            &.single-blog{
                position: relative;


                .container, .info-single{
                    z-index: 1;
                    padding-bottom: 0;
                    h1, h2, h3, h4, h5, h6{
                        color: $corPrimaria;
                    }
                    h1, h2{
                        font-size: 2.188em;
                        font-family: $bold;
                        margin-top: 60px;
                        margin-bottom: 50px;
                    }
                    h3{
                        font-size: 1.875em;
                        font-family: $bold;
                        margin-top: 50px;
                        margin-bottom: 40px;
                    }
                    h4{
                        font-size: 1.563em;
                        margin-top: 40px;
                        margin-bottom: 30px;
                    }
                    h5{
                        font-size: 1.250em;
                        margin-top: 30px;
                        margin-bottom: 20px;
                    }
                    h6{
                        margin-top: 30px;
                        margin-bottom: 20px;
                    }
                    iframe{
                        position: relative;
                        left: 15%;
                        margin: 50px 0;
                    }
                    ul{
                        padding: 0;
                        margin-bottom: 2em;
                        li{
                            margin-bottom: 1em;
                            color: $corPreta;
                            &:before{
                                content: '-';
                                margin-right: 5px;
                            }
                        }
                    }
                    .banners-sidebar{
                        img{margin-bottom: 55px;}
                    }
                }
                .info-single{
                    img{
                        margin-top: 65px;
                        margin-bottom: 65px;
                        &:first-of-type{margin-top: 0;}
                    }
                    .ssba-share-text{
                        font-size: 1.250em;
                        font-family: $bold;
                        text-transform: uppercase;
                        display: block;
                    }
                }
                .posts-relacionados{
                    border-top: 1px solid #ccc;
                    h4{
                        margin-top: 10px;
                        margin-bottom: 20px;
                        min-height: 90px;
                    }
                    p{
                        min-height: 100px;
                    }
                    .blog-post{
                        img, a.btn-form{transition: all .5s ease-in-out;}
                        a.btn-form{
                            margin-top: 0;
                        }
                        &:hover{
                            img{
                                filter:brightness(1.1);
                            }
                            a.btn-form{
                                background-color: $quartaCor!important;
                            }
                        }
                    }

                }
            }
            // 6.1 - Single Blog - Fim

            // ============================================================================
            // 6 - Blog - Fim
            // ============================================================================

            // ============================================================================
            // 7 - Página Contato - Início
            // ============================================================================
            &.contato-page{
                position: relative;
                padding-top: 30px;
                padding-bottom: 70px;
                margin-top: -3%;
                z-index: 2;
                .wpcf7-form{
                    width: 100%;
                    input[type="text"],
                    input[type="email"],
                    textarea.form-control {
                        border-radius: 20px;
                        border: 1px solid $corPrimaria;
                        padding: 20px 15px;
                        background: transparent;
                        color: $corPreta;

                        &::-webkit-input-placeholder {
                            /* Chrome/Opera/Safari */
                            color: $corPreta;
                        }

                        &::-moz-placeholder {
                            /* Firefox 19+ */
                            color: $corPreta;
                        }

                        &:-ms-input-placeholder {
                            /* IE 10+ */
                            color: $corPreta;

                        }

                        &:-moz-placeholder {
                            /* Firefox 18- */
                            color: $corPreta;
                        }

                        &:focus {
                            outline: 1px groove $corSecundaria;
                            outline-color: $corSecundaria;
                        }
                    }
                    .col-6.pr-2{
                        min-width: 80%;
                    }

                    .col-6.pl-1{
                        max-width: 20%;
                    }

                    .btn-form{
                        margin-top: 0!important;
                        border-radius: 50px;
                        padding: 10px 40px;
                        color: $corPrimaria!important;
                        background-color: transparent!important;
                        border: 1px solid $corPrimaria;

                        &:hover{
                            background-color: $quartaCor!important;
                            color: white!important;
                            border: 1px solid $corPrimaria;
                        }
                    }
                }
                .contato-info{
                    z-index: 10;
                    margin-top: 150px;
                    h2{
                        color: white;
                        text-decoration: none;
                        font-family: $bold;
                        font-size: 1.313em;
                        margin-bottom: 0px!important;
                    }
                    p, a{
                        color: white;
                    }
                    ul{
                        padding: 0;
                        margin-top: 20px;
                        li{
                            &.phone{
                                margin: 10px 0;
                            }
                            &.mail{
                                margin: 30px 0;
                            }
                            span, a{
                                color: white;
                                font-family: $texto;
                                font-size: 1.125em;
                            }
                            a{
                                &:hover{
                                    color: white;
                                }
                            }
                        }
                    }
                }
            }
            // ============================================================================
            // 7 - Página Contato - Fim
            // ============================================================================

            // ============================================================================
            // 8 - Página 404 - Início
            // ============================================================================
            &.page-404{
                position: relative;
                z-index: 2;

                h2{
                    font-size: 8em;
                }

                h1,h3,h4, p,span{
                    color: $corPrimaria;
                }

                .container{
                    z-index: 1;
                    position: relative;

                    .btn-form{
                        margin-top: 0!important;
                        &:hover{
                            background-color: $quartaCor!important;
                        }
                    }
                }
            }
            // ============================================================================
            // 8 - Página 404 - Fim
            // ============================================================================

            // ============================================================================
            // 9 - Single empreendimento - Início
            // ============================================================================
            &.single-empreendimento{
                .lancamento-img{
                    margin-top: 60px;
                }
                .single-destaque{
                    position: relative;
                    border-radius: 5px;
                    overflow: hidden;
                    .single-img-destaque {
                        position: absolute;
                        top: 0;
                        left: 0;
                        z-index: 1;
                        padding-left: 15px;
                        padding-right: 15px;
                    }
                    .texto-info{
                        position: relative;
                        z-index: 2;
                        top: 100%;
                        transform: translate(0,-100%);
                    }
                }
                .lancamento-destaque{
                    border-radius: 5px;
                    z-index: 10;
                    color: white;
                    background-color: $corPrimaria;
                    padding: 50px;
                    height: 100%;
                    h3{
                        text-align: center;
                        text-transform: uppercase;
                        font-family: $titulo;
                        font-size: 1.875em;
                        text-decoration: none;
                        margin-bottom: 80px;
                    }
                    ul{
                        padding: 0;
                        li{
                            margin-bottom: 40px;
                            span{
                                line-height: 40px;
                                color: white!important;
                            }
                            img{
                                margin-right: 30px;
                            }
                            &:last-of-type{margin-bottom: 0;}
                        }
                    }
                }
            }
            &.galeria{
                position: relative;
                margin-top: 100px;
                h2{
                    font-size: 2.5em;
                    color: $corPrimaria;
                    text-transform: uppercase;
                    text-align: center;
                    text-decoration: none;
                }
                .slider{
                    margin-top: 50px;
                    z-index: 2;
                }
                .owl-carousel.owl-theme{
                    .item{
                        iframe{
                            min-width: 940px;
                            min-height: 635px;
                        }
                    }
                    .owl-nav{
                        display: flex;
                        justify-content: space-between;
                        position: absolute;
                        top: 20%;
                        margin-bottom: 0;
                        width: 128%;
                        margin: 0 auto;
                        left: -14%;
                        z-index: -1;
                        .owl-prev, .owl-next{
                            background: transparent;
                            transition: all .5s ease-in-out;
                            font-size: 6em;
                            color: white;
                            width: 11%;
                            min-height: 375px;
                            height: 100%;
                            -webkit-border-radius: 0;
                            -moz-border-radius: 0;
                            border-radius: 0;
                            background-color: white;
                            &:hover{
                                background-color: #e5e5e5;
                            }
                        }
                    }
                }
            }
            &.page-default.conteudo-empreendimento{
                margin-top: 0;
                padding-top: 100px;
            }
            &.ficha-status{
                padding: 60px 0;
                background-color: #426200;
                -webkit-clip-path: polygon(0 0, 100% 15%, 100% 100%, 0 85%);
                clip-path: polygon(0 0, 100% 15%, 100% 100%, 0 85%);

                h2{
                    font-family: $texto;
                    text-transform: uppercase;
                    font-size: 2.500em;
                }
                .ficha-info{
                    padding: 120px 95px 190px 200px;
                    h2{margin-bottom: 40px;}
                    p, span{color: white;}
                    span{font-family: $bold; margin-right: 10px;}
                }
                .status-info{
                    background-color: #e5e5e5;
                    padding: 60px 90px 70px 55px;
                    h2, h3, p, span{color: $corPrimaria;}
                    h2{margin-bottom:0;}
                    p{margin: 0;}
                    h3{
                        font-family: $bold;
                        text-transform: uppercase;
                        font-size: 1.313em;
                        margin: 50px 0;
                    }
                    .progress{
                        padding: 2px;
                        margin-top: 5px;
                        border-radius: 20px;
                        border: 1px solid #8da261;
                        .progress-bar{
                            background-color: #8da261;
                            border-radius: 20px;
                        }
                    }
                    .box-etapas{
                        display: flex;
                        justify-content: space-around;
                        flex-wrap: wrap;
                        .box{
                            margin: .5em 1em;
                            width: 80px;
                            height: 130px;
                            .circle-wrap {
                                width: 80px;
                                height: 80px;
                                background: #fff;
                                border-radius: 50%;
                                box-shadow: 1px 1px 5px rgba(0,0,0,.5);

                                .fill {
                                    width: 80px;
                                    height: 80px;
                                    position: absolute;
                                    border-radius: 50%;
                                    clip: rect(0px, 40px, 80px, 0px);
                                    background-color: #8da261;
                                }

                                .mask {
                                    width: 80px;
                                    height: 80px;
                                    position: absolute;
                                    border-radius: 50%;
                                    clip: rect(0px, 80px, 80px, 40px);
                                }
                            }

                            //.full.seventy,
                            //.seventy fill {
                            //    transform: rotate(180deg);
                            //}
                            //
                            //.seventy.full.animate,
                            //.seventy.animate .fill {
                            //    animation: seventy linear 3s forwards;
                            //}


                            .circle-wrap .inside-circle {
                                width: 60px;
                                height: 60px;
                                border-radius: 50%;
                                background: $corPrimaria;
                                line-height: 30px;
                                text-align: center;
                                margin-top: 10px;
                                margin-left: 10px;
                                position: absolute;
                                z-index: 100;
                                img{
                                    position: relative;
                                    top: 10px;
                                }
                            }
                        }
                    }
                }
            }
            // ============================================================================
            // 9 - Single empreendimento - Fim
            // ============================================================================

            // ============================================================================
            // 10 - Página Empreendimentos - Início
            // ============================================================================
            &.empreendimentos-page{
                z-index: 2;
                transform: translate(0, -65px)!important;
                .img-bg{
                    top: -10%;
                }
            }
            // ============================================================================
            // 10 - Página Empreendimentos - Fim
            // ============================================================================

            // ============================================================================
            // 11 - Página Mensagem Enviada - Início
            // ============================================================================
            &.mensagem-enviada{
                position: relative;
                .background{
                    transform: translate(0,-16%);
                }
                .img-bg{
                    top: -60%!important;
                }
                h1,h2,h3,h4,h5,h6,p{
                    color: $corBranca;
                }
                i,svg{
                    color: $corBranca;
                    font-size: 15em;
                }
                .container{
                    position: relative;
                    z-index: 3;
                }
            }
            // ============================================================================
            // 11 - Página Mensagem Enviada - Fim
            // ============================================================================
        }

        // ============================================================================
        // 12 - Rodapé  - Início
        // ============================================================================
        footer {
            background-color: $quintaCor;
            h2,h3,h4,h5,h6{text-decoration: none;}
            
            span{
                color: white;
                margin-right: 20px;
                font-family: $titulo;
                font-size: .78em;
                i, svg{
                    color: $corSecundaria;
                }
            }

            img {
                object-fit: contain;
            }

            .icon-footer{
                font-size: 2.5em;
                a{
                    margin: 5px 10px;
                }
            }

            .midias-rodape {
                margin: 5px 10px 5px 0;
                font-size: 1.8em;
            }

            .contatos-footer{
                span{
                    font-size: 1.125em;
                    margin: 30px 0;
                    display: block;
                }
                ul{
                    margin-top: 30px;
                    padding: 0;
                    li{
                        margin: 10px 0;
                        a{
                            font-size: 1.125em;
                        }
                    }
                }
                // Formulário do rodapé
                .get-news-letter-mail{
                    input[type="text"],
                    input[type="email"] {
                        border: 1px solid $quartaCor!important;
                        background: transparent;
                        color: white;
                        padding: 10px 15px!important;
                        font-family: $texto;
                        width: 100%;

                        &::-webkit-input-placeholder {
                            /* Chrome/Opera/Safari */
                            color: white;
                        }

                        &::-moz-placeholder {
                            /* Firefox 19+ */
                            color: white;
                        }

                        &:-ms-input-placeholder {
                            /* IE 10+ */
                            color: white;

                        }

                        &:-moz-placeholder {
                            /* Firefox 18- */
                            color: white;
                        }

                        &:focus {
                            outline: 1px groove $quartaCor;
                            outline-color: $quartaCor;
                        }
                    }
                    .form-group{margin-bottom: 0;}
                    .btn-secundario{
                        text-transform: none;
                        padding: 15px 0;
                        border-color: $quartaCor;
                        &:hover{
                            background-color: $quartaCor!important;
                        }
                    }
                }
            }

            a {
                transition: all .5s ease-in-out;
                color: white;

                &:hover {
                    color: white;
                }
            }

            .footer-copyright{
                i, svg{
                    color: white;
                }
            }
        }
        // ============================================================================
        // 12 - Rodapé  - Fim
        // ============================================================================
    }
}

// Responsivo
@import 'media-queries.scss';