@media(min-width: 1280px) and (max-width: 1366px){
    section{

    }
}

// Para colunas da classe lg
@media(max-width:1199px) {
    html{
        body{
            header{
                .navbar-brand{
                    width: 250px;
                }
            }
            section{
                &.slides{
                    height: auto;
                    max-height: 550px;
                }
                &.header-padrao {
                    height: 350px;
                }
            }
        }
    }
}

@media(min-width: 992px){
    #menu-secundario{
        li.dropdown:hover>.dropdown-menu{
            display:block;
        }
    }
}
// Para classe lg
@media(max-width: 1200px){

}

// Para colunas da classe md
@media(max-width: 991px) {

    html{
        body{
            // Menu
            .navbar-brand{
                height: 70px;
                width: 140px!important;
                img{
                    height: 70px;
                    object-fit: contain;
                }
            }
            .nav-toggler{
                top: 20px;
                right: 20px;
                width: 52px;
                height: 70px;
                svg, i{
                    color: white;}
            }

            #voltarTopo{
                left: 15px;
                bottom: 100px;
            }
            // Fim Menu

            section {
                // Header padrão - Início
                &.header-padrao{
                    position: relative;
                    height: 350px;
                    overflow: hidden;
                    img{
                        height: 100%;
                        object-fit: contain;
                        right: auto;
                    }
                    h1{
                        font-size: 2.5em;
                    }
                    .bg-header, .bg-banner{
                        max-width: 100%;
                    }
                    .bg-header{
                        width: 25%;
                    }
                    .bg-banner{
                        background: rgba(0,102,148,.5);
                        max-width: 65%;
                        height: 61.5%;
                        top:auto;
                        bottom: 0;
                    }
                    .container-fluid{
                        z-index: 3;
                        position: relative;
                        top: 200px;

                        h1 {
                            text-transform: uppercase;
                            margin-bottom: 25px;
                        }

                        p {
                            color: $corBranca;
                        }
                    }
                }
                // Header padrão  FIM

                // Slide Home - Início
                &.slides {
                    min-height: 350px;
                    height: auto;
                    .bg-header{
                        min-height: 350px;
                        height: 100%;
                        overflow: hidden;
                        img{
                            height: 100%;
                        }
                    }
                    #slide-bootstrap {
                        max-height: 740px;
                        .carousel-indicators {
                            li {
                                border: none;
                                height: 12px;
                                width: 12px;
                                border-radius: 100px;
                                background: white;

                                &.active {
                                    background: $corPrimaria;
                                }
                            }

                            bottom: 10%;
                        }

                        .carousel-item {
                            .carousel-caption {
                                text-align: left;
                                right: auto;
                                left: 0;
                                top: 20%;
                                min-width: 100%;
                                width: 100%;
                                box-sizing: border-box;
                                .bg-slide {
                                    h2 {
                                        font-size: 2.5em;
                                        margin-bottom: 10px;
                                        line-height: 40pt;
                                    }

                                    p {
                                        margin: 14px 0;
                                    }
                                    .btn-secundario{
                                        padding: 10px 15px;
                                        font-size: 1em;
                                    }
                                }
                            }
                        }
                    }
                }
                // Slide Home - FIm

                // Lançamento Home - Início
                &.lancamento-home {
                    transform: translate(0, -7%);
                    h2 {
                        //font-size: 6.3em;
                    }
                    .container {
                        z-index: 2;
                        position: relative;
                        top: 20px;
                        .box-lancamento{
                            height: 390px;
                            &:hover{
                                &.box-lancamento{height: 450px; border-radius: 5px;}
                                h3, span{
                                    color: $corSecundaria;
                                }

                                img{
                                    transform: scale(1.25,1.4);
                                    padding-left: 40px;
                                    padding-right: 40px;
                                }

                                .texto-info{
                                    opacity: 0;
                                    visibility: hidden;
                                }
                                .info-hover{
                                    opacity: 1;
                                    visibility: visible;
                                }
                            }
                            .texto-info{
                                opacity: 0;
                                height: 53%;
                                h3{
                                    font-size: 1.5em;
                                    text-transform: none;
                                    min-height:105px;
                                    display: flex;
                                    align-items: center;
                                }
                                span{
                                    font-size: 1.3em;
                                }
                            }
                            .info-hover{
                                opacity: 1;
                                visibility: visible;
                            }
                        }
                    }
                }
                // Lançamento Home - FIM

                // Mais empreendimentos - Inicio
                &.empreendimentos-home{
                    h2{
                        font-size: 2.43em;
                        letter-spacing: 8pt;
                    }
                    .box{
                        img{
                            object-fit: cover;
                        }
                    }
                }
                // Mais empreedimentos - FIM

                // Porque alternova Home - Início
                &.quemsomos-section{
                    h2{
                        font-size: 6.25em;
                        letter-spacing: 40pt;
                        left: 0;
                    }
                    h3{
                        font-size: 3.125em;
                        top: 110px;
                    }
                    .quemsomos-box{
                        margin-bottom: 20px;
                    }
                }
                // Porque alternova Home - FIM


                // Contato Home - Início
                &.contato-home{
                    background-color: $quartaCor;
                }
                // Contato Home - FIM

                // Blog - Início
                &.blog-home{
                    h2{
                        font-size: 5.65em;
                        letter-spacing: 10pt;
                        left: 0;
                    }
                    .mt-65-menos{
                        margin-top: -30px;
                    }
                    .post-blog{
                        height: 400px;
                        img{
                            object-fit: cover;
                            height: 100%;
                        }
                        .texto-info{
                            position: relative;
                            width: 108%;
                            top: 220px;
                            z-index: 2;
                            height: 180px;
                            padding: 2em 1em;
                        }
                    }
                }
                &.main-blog{
                    .post-blog{
                        height: 400px;
                        img{
                            width: 100%;
                            object-fit: cover;
                            height: 100%;
                        }
                        .texto-info{
                            position: relative;
                            width: 106%;
                            top: 220px;
                            height: 180px;
                            z-index: 2;
                        }
                    }

                    aside{
                        .form-blog{
                            .formBlog{
                                width: 100%;
                                .form-group{
                                    width: 100%;
                                }
                            }
                        }
                    }
                }
                // Blog - Fim

                // Single empreendimento
                &.galeria{
                    h2{
                        font-size: 7.5em;
                        letter-spacing: 29pt;
                        margin-left: 2%;
                    }
                    .slider{
                        top: 0;
                        transform: translate(0, -5%);
                        z-index: 2;
                    }
                    .owl-carousel.owl-theme{
                        width: 80%;
                        transform: translate(12.5%, -5%);
                        .item{
                            iframe{
                                max-width: 100%;
                                min-width: 100%;
                                min-height: 409px;
                                max-height: 409px;
                            }
                        }
                        .owl-nav{
                            top: 10%;
                            width: 126%;
                            left: -13%;
                            .owl-prev, .owl-next{
                                width: 10%;
                                min-height: 330px;
                            }
                        }
                    }
                }
                &.plantas-images{
                    padding-top: 100px;
                    h2.title-home{
                        font-size: 8em;
                        letter-spacing: 20pt;
                        margin-left: 2%;
                    }

                    .container-fluid{
                        transform: translate(0, -50px);
                        .menu-tab{
                            transform: translate(0,-180px);
                            background-color: $corPrimaria;
                            padding: 15px;

                        }
                    }
                }
                &.ficha-status{
                    padding: 60px 0;
                    h2{
                        font-family: $black;
                        text-transform: uppercase;
                        font-size: 2.500em;
                    }
                    .ficha-info{
                        padding: 100px 50px;
                    }
                    .status-info{
                        padding: 60px 30px;
                    }
                    .box-etapas{
                        .box{
                            margin: 1em 1em!important;
                        }
                    }
                }
            } // Fim section


        }

        // Rodapé
        footer{
            margin-bottom: 75px;
        }
    }
    
}

// Para colunas da classe sm
@media(max-width:767.98px) {
    html{
        body{
            section{

            }
        }
    }
}

// Para colunas padrão
@media(max-width:575px) {
    html {
        body {
            // Form no Modal
            .modal{
                .modal-body{
                    .form-row{
                        .col.my-1{
                            float: none;
                            display: block;
                            width: 100%;
                            select{
                                width: auto;
                                min-width: 100%;
                            }
                        }
                        .col-auto.my-1{
                            float: none;
                            display: block;
                            width: 100%;
                            button{
                                width: auto;
                                min-width: 100%;
                            }
                        }
                    }
                }
            }
            // Menu
            header {
                nav.navbar {
                    .navbar-brand {
                        width: 60%;
                        height: 50px;
                        img {
                            object-fit: contain;
                            height: 50px;
                            margin-top: -5px;
                        }
                    }
                }
            }
            .mobile-menu-wrapper {
                width: 320px;
                &.open {
                    right: 320px;
                }
            }
            .nav-toggler{
                top: 5px;
                right: 10px;

                padding: 7px;
                height: 50px;
                width: 50px;
                p{
                    font-size: .5em;
                    color: white;
                    margin: 0;
                    padding: 0;
                    line-height: 15px;
                    font-family: $bold;
                }
                svg, i{
                    margin-bottom: 0;
                    color: $quartaCor;
                    font-size: 1.5em;
                    margin-left: auto;
                    margin-right: auto;
                }
            }
            // âncora
            #voltarTopo{
                bottom: 70px;
            }

            // Form
            form.wpcf7-form{ width: 100%;
                .col-6.pr-2{
                    min-width: 77%;
                }
            }

            section {
                // Header-padrão
                &.header-padrao{
                    height: 200px;
                    img{
                        max-width: 100%;
                        object-fit: cover;
                    }
                    .container-fluid{
                        top: 90px;
                        h1{margin-bottom: 10px;}
                    }
                    .bg-header{
                        width: 35%;
                    }
                    .bg-banner{
                        max-width: 75%;
                    }
                    h1{
                        font-size: 1.2em;
                        line-height: 20pt;
                    }
                }
                &.slides {
                    background-color: $corPrimaria;
                    min-height: 200px;
                    height: auto;
                    .bg-header{
                        min-height: 225px;
                    }
                    #slide-bootstrap {
                        .carousel-inner {
                            min-height: 200px;
                            height: auto;
                            .carousel-item {
                                img.d-block {
                                    height: 200px!important;
                                    object-fit: cover!important;
                                }

                                .carousel-caption {
                                    right: auto;
                                    left: 0!important;
                                    top: 1%!important;
                                    padding-top: 3em;
                                    h2 {
                                        font-size: 1.2em;
                                        margin-bottom: 0;
                                        line-height: 20pt;
                                    }

                                    p {
                                        display:none;
                                    }
                                    .btn-secundario{
                                        font-size: .8em;
                                        padding: 10px 15px;
                                        text-transform: none;
                                        margin-top: 10px;
                                        img.hvr-icon{ display: none; }
                                    }
                                }
                            }
                        }
                    }
                }
                // Serviços - Home
                &.servicos-home{
                    padding-top: 100px;
                    padding-bottom: 100px;
                }
                // Contato - Home
                &.contato-home{
                    padding-bottom: 100px;
                    .img-bg{
                        bottom: 0;
                        top:auto;
                    }
                }
                // Blog - Home
                &.blog-home{
                    padding-top: 100px;
                    padding-bottom: 100px;
                }
                // Empreedimento - Home
                &.empreendimentos-home{
                    padding-top: 50px;
                    .container{
                        h2.title-home{
                            font-size: 1.65em;
                            letter-spacing: 0pt;
                        }
                        #empreendimentos{
                            margin-top: 0;
                        }
                    }
                }
                // Quem somos - Home
                &.quemsomos-section{
                    h2.title-home{
                        font-size: 3.55em;
                        letter-spacing: 14pt;
                    }
                    h3{
                        font-size: 2.125em;
                        top: 90px;
                    }
                    .box-mobile{
                        margin-bottom: 60px;
                    }
                    .mt-80{margin-top: 0;}
                }
                // Blog - Home
                &.blog-home, &.main-blog{
                    position: relative;
                    h2.title-home{
                        font-size: 2.65em;
                        letter-spacing: 5pt;
                    }
                    .post-blog{
                        max-width: 100%;
                        display: block;
                        overflow: hidden;

                        figure{
                            padding-left: 1em;
                            padding-right: 1em;
                        }
                        img{
                            position: absolute;
                            z-index: 1;
                            overflow: hidden;
                            width: 100%;
                            max-width: 400px;
                            padding-left: 1em;
                            padding-right: 1em;
                            height: 400px;
                            top:0;
                            left:0;
                        }
                        .texto-info{
                            width: 100%;
                            h2.truncate3{
                                height: 120px;
                            }
                        }
                    }
                }

                // Single Empreendimento
                &.lancamento-home{
                    padding-top: 50px;
                    h2.title-home{
                        font-size: 3em;
                        letter-spacing: 12.5pt;
                        margin-left: 3%;
                    }
                    .container{
                        .lancamento-img{
                            top: -25px;
                        }
                        .lancamento-info{
                            top: 0;
                        }
                    }
                }
                &.galeria{
                    h2.title-home{
                        font-size: 3.5em;
                        letter-spacing: 15pt;
                    }
                    .slider{
                        top: 0;
                        transform: translate(0, -5%);
                        z-index: 2;
                    }
                    .owl-carousel.owl-theme{
                        width: 75%;
                        transform: translate(17%, -8%);
                        .item{
                            iframe{
                                max-width: 100%;
                                min-width: 100%;
                                min-height: 190px;
                                max-height: 190px;
                            }
                        }
                        .owl-nav{
                            top: 11%;
                            width: 138%;
                            left: -19%;
                            .owl-prev, .owl-next{
                                width: 12.5%;
                                min-height: 130px;
                            }
                            img{
                                max-width: 60%;
                                transform: translate(0,-75%);
                            }
                        }
                    }
                }
                &.plantas-images{
                    padding-top: 50px;
                    padding-bottom: 50px;
                    h2.title-home{
                        font-size: 3.5em;
                        letter-spacing: 13.5pt;
                    }
                    .container-fluid {
                        .slider{
                            top: 0;
                            transform: translate(0, 8.5%);
                            z-index: 2;
                        }
                        .owl-carousel.owl-theme{
                            width: 80%;
                            transform: translate(12.5%, -3%);
                            .item{
                                img, iframe{
                                    max-width: 100%;
                                    min-width: 100%;
                                    min-height: 350px;
                                    max-height: 350px;
                                }
                                h3{
                                    color: $corPrimaria;
                                    font-family: $bold;
                                    font-size: 1.125em;
                                    margin-top: 10px;
                                }
                            }
                            .owl-nav{
                                display: flex;
                                justify-content: space-between;
                                position: absolute;
                                top: 10%;
                                margin-bottom: 0;
                                width: 140%;
                                margin: 0 auto;
                                left: -20%;
                                z-index: -1;

                                .owl-prev, .owl-next{
                                    width: 13.5%;
                                    min-height: 230px;
                                    height: 100%;
                                    -webkit-border-radius: 0;
                                    -moz-border-radius: 0;
                                    border-radius: 0;
                                    background-color: $corPrimaria;
                                    &:hover{
                                        background-color: $quartaCor;
                                    }
                                    img{
                                        max-width: 60%;
                                    }
                                }
                            }
                        }
                    }
                }
                // Tour virtual
                &.tour-virtual{
                    padding-top: 0;
                    padding-bottom: 0;
                }
                &.ficha-status {
                    padding-bottom: 0;
                    .ficha-info {
                        padding: 60px 30px;
                    }
                }
            }
            .menu-fixo{
                .col{
                    a{
                        padding-bottom: 15px;
                        padding-top: 20px;
                        height: 60px;
                        span{display: none!important;}
                        i, svg{
                            font-size: 1.8em!important;
                            margin: 0!important;
                        }
                    }
                    button{
                        height: 60px;
                        i, svg{
                            font-size: 1.5em!important;
                        }
                        span{
                            display: none;
                        }
                    }
                }
            }
            footer {
                margin-bottom: 55px;
                .newsletter{
                    margin-left: 1.5em;
                }
            }
        }
    }
}

@media(max-width: 400px){
    html{
        body{
            section{

            }
        }
    }
}
