/*  CORES DO TEMA */

$corPrimaria: var(--corPrimaria);
$corSecundaria: var(--corSecundaria);
$corTerciaria: var(--corTerciaria);
$quartaCor: var(--corBody);
$quintaCor: var(--corAuxiliar);

/* VARIÁVEIS CORES PADRÕES */

$corBranca: #f8f8f9;
$corPreta:#1a1a1a;

/* Fontes */
$texto: 'Raleway-Regular', sans-serif;
$thin: 'Raleway-Thin', sans-serif;
$bold: 'Raleway-Bold', sans-serif;
$black: 'Raleway-Black', sans-serif;
$titulo: 'Raleway-Light', sans-serif;

/* Tamanho de fonte */
$grande: 2.500em;
$medio: 2.000em;
$normal: 1.2em;

/* Line-height */
$lhmedio: 54px;
$lhnormal: 27px;