#voltarTopo {
    transition: background-color .3s, opacity .5s, visibility .5s;
    background-color: $corPrimaria;
    width: 45px;
    height: 45px;
    text-align: center;
    border-radius: 5px;
    line-height: 45px;
    color: $corBranca;
    position: fixed;
    bottom: 30px;
    left: 30px;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
    cursor: pointer;
    box-shadow: 0px 6px 8px 2px rgba(0, 0, 0, 0.14);
    -webkit-box-shadow: 0px 6px 8px 2px rgba(0, 0, 0, 0.14);
    -moz-box-shadow: 0px 6px 8px 2px rgba(0, 0, 0, 0.14);

     //&:after {
     //    content: "\f062";
     //    font-family: "Font Awesome 5 Free";
     //    font-weight: 400;
     //    font-style: normal;
     //    font-size: 1.4rem;
     //    line-height: 45px;
     //    color: white;
     //}

    &:hover {
        background-color: $corTerciaria;
        color: white;
        //&:after {
        //    color: white;
        //}
    }

    &.show {
        opacity: 1;
        visibility: visible;
    }
}