ul {
    &.pagination {
        li {
            &.page-item{
                .page-link{
                    color: $corPrimaria;
                    background-color: transparent;
                    &:hover{
                        background-color: $corPrimaria;
                        color: $corSecundaria;
                    }
                }
                &.active {
                    .page-link{
                        background-color: $quartaCor;
                        border-color: $corSecundaria;
                        color:$corSecundaria;
                    }
                }
            }
        }
    }
}